*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background: #f2f2f2;
  --black: #202020;
  --white: #ffffff;
  --accent: #e8f3ef;
  --accent-dark: #36a18b;
  --accent-light: #d7d7d7;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: var(--white);
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

/* =================
  Typography 
 ================= */

h1 {
  font-size: 1.15rem;
}

p {
  margin: 0;
}

h1,
.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

span {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  line-height: 1.25;
  color: var(--accent-light);
}

/* =================
  Header
 ================= */

header {
  padding: 1.65em;
  justify-content: space-between;
  align-items: center;
}

header,
.logo-container {
  display: flex;
  gap: 0.5em;
}

.logo {
  width: 2em;
  object-fit: contain;
}

.menu {
  display: none;
}

.show-menu {
  display: block;
  position: fixed;
  padding: 1em;
  text-align: right;
  background-color: var(--white);
  right: 0;
  top: 75px;
}

ul {
  /* margin: 0; */
  padding: 0;
  list-style: none;
  /* background-color: var(--accent); */
}

li {
  display: block;
}

li a {
  color: var(--accent-dark);
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3rem;
  padding: 1em;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

/* li a.selected {
  font-weight: 700;
} */

li a:hover {
  text-decoration: 3px underline var(--accent-dark);
}

.hamburger {
  display: block;
  text-align: right;
  position: relative;
}

.fa-solid {
  font-size: 2rem;
  color: var(--accent-dark);
  padding: 0.5em;
  cursor: pointer;
}

/* =================
  Layout
 ================= */
main {
  background-color: var(--background);
}

/* =================
  Footer
 ================= */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2.5em;
  color: var(--white);
  background-color: var(--accent-dark);
  text-align: center;
  font-size: 1.25rem;
}

/* =================
  Breakpoints
 ================= */

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  /* Header */
  .hamburger {
    display: none;
  }
  .menu {
    display: inline;
    position: static;
  }

  ul {
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 1em;
  }
}
