/* =================
  Typography 
 ================= */
h1,
h2,
h3,
p {
  margin: 0;
}

h2,
h3 {
  line-height: 1.08;
}

h1 {
  font-size: 1.15rem;
}

h2 {
  margin: 0.5em auto;
  font-size: 2.66rem;
}

h3 {
  margin: 0.4em auto;
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1.33rem;
  line-height: 1.2;
}

p.hero-date {
  font-size: 1rem;
  /* line-height: 1.2; */
}

h1,
.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

span {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  color: var(--accent-light);
}
